@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">LMS</h1>
    <form class="align-content-center">
        <table class="align-content-center">
            <tr class="align-content-center">
                 <td>
                    <input type="email"  class="form-control" placeholder="Email"/>
                 </td>
            </tr>
            <tr>
                <td>
                    <input type="password" class="form-control" placeholder="Password"/>
                </td>
            </tr>
        </table>
    </form>
</div>
