@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form v8</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url(https://img.freepik.com/free-photo/elevated-view-laptop-stationeries-blue-backdrop_23-2147880457.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1714348800&semt=ais);
            background-size: cover;
            background-position: center;
        }

        .card {
            border: none;
            border-radius: 10px;
            background-color: #f2f5fa;
            padding: 20px;
            box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.1);
        }

        .card-header {
            background-color: deepskyblue;
            color: #fff;
            border-radius: 4px 4px 0 0;
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            border-radius: 0;
            box-shadow: none;
            border-color: #e3e6f0;
        }

            .form-control:focus {
                border-color: deepskyblue;
                box-shadow: none;
            }

        .btn {
            border-radius: 0;
            box-shadow: none;
            font-size: 16px;
        }

        .btn-primary {
            background-color: deepskyblue;
            color: #fff;
        }

        .btn-link {
            color: deepskyblue;
            font-size: 16px;
        }

            .btn-link:hover {
                color: deepskyblue;
                text-decoration: underline;
            }
    </style>
    <script>
        function redirectToHomePage(event) {
            event.preventDefault(); // Prevent form submission
            var role = document.querySelector('input[name="role"]:checked').id;
            if (role === 'student') {
                window.location.href = 'student/studenthome';
            } else if (role === 'teacher') {
                window.location.href = 'teacher/teacherhome';
            } else if (role === 'admin') {
                window.location.href = 'admin/adminhome';
            }
        }
    </script>
</head>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Login </h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="email">Email or Username</label>
                            <input type="text" class="form-control" id="email" placeholder="Enter email or username" asp-for="@Model.email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password" asp-for="@Model.password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <p><a href="./Guest/Allcourses">Continue as Guest</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
