@page
@model LMS.Pages.Student.AddForumPageModel
@{
}


<body>
    <div class="top-bar">
        <h1>
            Create Thread!
        </h1>
    </div>
    <div class="main">
        <div class="header">
            <h4 class="title">
                Thread 1
            </h4>
            <div class="bottom">
                <p class="timestamp">
                    2/5/2024
                </p>
            </div>
        </div>
        <textarea>

        </textarea>
        <button>Add Thread</button>
    </div>
    <style>
        .body {
            margin: 10px 60px;
        }

        .a {
            text-decoration: none;
            color: black;
        }

        .h4, .h1, .ol {
            margin: 0;
        }

        .p {
            margin: 5px 0;
        }

        textarea {
            width: 80%;
            height: 100px;
        }

        button {
            display: block;
            margin: 10px 0;
        }

        .row {
            padding: 5px 0;
        }

        .top-bar {
            background-color: skyblue;
            padding: 10px 40px;
        }

        .main {
            background-color: lightgreen;
            padding: 10px 15px;
        }

        .comments {
            margin: 40px 0;
        }

        .comment {
            margin: 10px 0;
        }

        .bottom, .top-comment {
            display: flex;
            color: green;
            font-size: 12 px;
        }

        .comment-ts {
            padding-left: 10px;
        }

        .timestamp {
            padding-right: 10px;
        }
    </style>
</body>
