@page
@model studentcoursesModel
@{
    Layout = "studentlayout.cshtml";
}
<div class="text-center">
    <table class="table table-borderless">
        <tr>
            <th> 
                <a href="course"> Course Name</a>
            </th>
            <td>ccode</td>
            <td>sem</td>
            <td>inst</td>
        </tr>
    </table>
</div>