@page
@model LMS.Pages.Teacher.AssignmentsManagerModel
@{
    Layout = "teachercourselayout";
}
<table class="table table-borderless">
    <thead>
    <th>Assignment Name</th>
    <th>Assignment No.</th>
    <th>Due Date</th>
    <th># of Submissions</th>
    <th>Completion</th>
    </thead>
    <tr>
        <td><a href="IndividualAssignmentTeacher">sample</a></td>
        <td>sample</td>
        <td>sample</td>
        <td>sample</td>
        <td>sample</td>
        <td><button class="btn btn-success">Done</button></td>
    </tr>
