@page
@model LMS.Pages.Student.ForumPageModel
@{
}

<body>
    <div class="top-bar">
        <h1>
            Exchange your questions!
        </h1>
    </div>
    <div class="main">
        <div class="header">
            <h4 class="title">
                Thread 1
            </h4>
            <div class="bottom">
                <p class="timestamp">
                    2/5/2024
                </p>
                <p class="comment-count">
                    4 comments
                </p>
            </div>
        </div>
        <textarea>

        </textarea>
        <button>Add Comment</button>
        <div class="comments">
            <div class="comment">
                    <div class="top-comment">
                        <hr />
                    <p class="user">
                        Allam
                    </p>
                    <p class="comment-ts">
                        2/5/2024
                    </p>
                </div>
                <div class="comment-content">
                    Comment kys kys kys
                </div>
            </div>
            <div class="comment">
                <div class="top-comment">
                    <hr />
                    <p class="user">
                        Allam
                    </p>
                    <p class="comment-ts">
                        2/5/2024
                    </p>
                </div>
                <div class="comment-content">
                    Comment kys kys kys
                </div>
            </div>
        </div>
    </div>
    <style>
        .body {
            margin: 10px 60px;
        }

        .a {
            text-decoration: none;
            color: black;
        }

        .h4, .h1, .ol {
            margin: 0;
        }

        .p {
            margin: 5px 0;
        }

        textarea{
            width:80%;
            height: 100px;
        }
        
        button{
            display: block;
            margin: 10px 0;
        }

        .row {
            padding: 5px 0;
        }

        .top-bar {
            background-color: skyblue;
            padding: 10px 40px;
        }

        .main {
            background-color: lightblue;
            padding: 10px 15px;
        }

        .comments{
            margin: 40px 0;
        }

        .comment{
            margin: 10px 0;
        }

        .bottom, .top-comment {
            display: flex;
            color: black;
            font-size: 12 px;
        }

        .comment-ts{
            padding-left: 10px;
        }

        .timestamp {
            padding-right: 10px;
        }
    </style>
</body>
