@page
@model LMS.Pages.Teacher.IndividualCourseTeacherModel
@{
    Layout = "teachercourselayout";
}
<table class="table table-borderless">
    <thead>
    <th>Student Name</th>
    <th>Submission</th>
    <th>Grade</th>
    <th>Completion</th>
    </thead>
    <tr>
        <td>sample</td>
        <td>sample</td>
        <td><input type="text" placeholder="/10"/></td>
        <td><button class="btn btn-success">Done</button></td>
    </tr>
</table>

