@page
@model LMS.Pages.Teacher.teachercoursesModel
@{
    Layout = "teacherlayout.cshtml";
}
<table class="table table-borderless">
    <thead>
        <th>Course Name</th>
        <th>Course Code</th>
        <th>Semester</th>
        <th># of Students</th>
    </thead>
    <tr>
        <td><a href="#">sample</a></td>
        <td>sample</td>
        <td>sample</td>
        <td>sample</td>
    </tr>
</table>
